<div class="center jumbotron container">
  <h2>Bienvenue au club !</h2>
  <p>
    Corrupti atque fugit repellendus quisquam commodi illum inventore laboriosam.
    Unde laborum molestias saepe libero.
    Necessitatibus tenetur commodi libero odit atque aspernatur ea enim. </p>
    <br>
    <%= link_to "Créer un compte", '/users/new', class: "btn btn-lg btn-primary" %>
    <br>
</div>
